@font-face {
    font-family: 'Strip-Arabic';
    src: url('assets/font/Air-Strip-Arabic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Lemonada';
    src: url('assets/font/Lemonada-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
