@import "../../../assets/scss/sharedExpDesign.scss";
#balance{
  .weight{
    position: absolute;
    // transform: rotate(29deg);
    /* color: green; */
    top: 30%;
    left: 40%;
    opacity: 0;
  }
  .weight1{
    position: absolute;
    // transform: rotate(29deg);
    /* color: green; */
    top: 30%;
    left: 40%;
    opacity: 0;
  }
  .finalweight1{
    position: absolute;
    // transform: rotate(29deg);
    /* color: green; */
    top: 30%;
    left: 40%;
    opacity: 0;
  }
  .finalweight2{
    position: absolute;
    // transform: rotate(29deg);
    /* color: green; */
    top: 30%;
    left: 40%;
    opacity: 0;
  }
    img{
        width: 250%;
    }
}

#hitArea {
  margin: 0;
  position: absolute;
  left: 85%;
  bottom: 65%;
}
