<div class="height-100vh display-flex-new back-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../assets/images/vector/2.png" class="img-vector" />
            </div>
            <div class="col-lg-6">
                <div class="cards">
                    <h3> المرحلة الثانوية </h3>
                    <div class="cards-section">
                        <div class="card-section" (click)="Chemistry()">
                            <img src="../../assets/images/vector/4.svg" />
                            <span>  تجارب الكيمياء </span>
                        </div>
                        <div class="card-section" (click)="physics()">
                            <img src="../../assets/images/vector/4.svg" />
                            <span>تجارب الفيزياء </span>
                        </div>
                        <div class="card-section" (click)="biology()">
                            <img src="../../assets/images/vector/4.svg" />
                            <span> تجارب الاحياء </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
