<div id="mainbg">
    <div id="secondbg">
        <!-- icons -->
        <div class="row">
            <div class="col-12">
                <div class="videoPlace">
                    <div class="login-image">
                        <!-- large -->
                        <div class="bubble-large">
                            <div class="bubbles-1"></div>
                            <div class="bubbles-2"></div>
                            <div class="bubbles-3"></div>
                            <div class="bubbles-4"></div>
                            <div class="bubbles-5"></div>
                            <div class="bubbles-6"></div>
                        </div>
                        <div class="water-large"></div>
                        <!-- small -->
                        <div class="bubble-small">
                            <div class="bubbles-1"></div>
                            <div class="bubbles-2"></div>
                            <div class="bubbles-3"></div>
                            <div class="bubbles-4"></div>
                            <div class="bubbles-5"></div>
                            <div class="bubbles-6"></div>
                        </div>
                        <div class="water-small"></div>
                        <img src="../../assets/images/vector/1.svg" />
                    </div>
                    <h5 style="text-align: right;">أهلًا بيك في معمل العلوم الافتراضي</h5>
                </div>

            </div>
        </div>
        <div class="row skipbtn">
            <div class="col-12">
                <div class="button_cont">
                    <button class="button-login" (click)="Start()" target="_blank" rel="nofollow">
                        <span>دخول </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>