<div class="height-100vh display-flex-new back-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../assets/images/vector/2.png" class="img-vector" />
            </div>
            <div class="col-lg-6">
                <div class="cards">
                    <h3> المراحل الدراسية </h3>
                    <div class="cards-section">
                        <div class="card-section" (click)="primary()">
                            <img src="../../assets/images/vector/3.svg" />
                            <span> المرحله الإبتدائية </span>
                        </div>
                        <div class="card-section" (click)="middle()">
                            <img src="../../assets/images/vector/3.svg" />
                            <span> المرحله الاعدادية </span>
                        </div>
                        <div class="card-section" (click)="secondary()">
                            <img src="../../assets/images/vector/3.svg" />
                            <span> المرحله الثانوية </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
